{% extends 'landing.base.html.twig' %}


{% block body %}

    <div class="landing h-[800px]">

    <!-- ========== HEADER ========== -->
    <header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm mb-10">
        <nav class="mt-6 relative max-w-[85rem] w-full mx-2 py-3 px-4 md:flex md:items-center md:justify-between md:py-0 md:px-6 lg:px-8 xl:mx-auto dark:bg-gray-800 dark:border-gray-700" aria-label="Global">
            <div class="flex items-center justify-between">
                <a class="flex-none text-xl font-semibold text-white" href="#" aria-label="Brand">
                    <img src="{{ asset('build/images/logo_dark.png') }}" alt="GeoQuest Logo" class="h-[80px]"/>
                </a>
                <div class="md:hidden">
                    <button type="button" class="hs-collapse-toggle bg-white w-8 h-8 flex justify-center items-center text-sm font-semibold rounded-full border border-gray-200 text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
                        <svg class="hs-collapse-open:hidden flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                        <svg class="hs-collapse-open:block hidden flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </button>
                </div>
            </div>
            <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
                <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:ps-7">
                    {% include('home/components/navbar.html.twig') %}
                </div>
            </div>
        </nav>
    </header>
    <!-- ========== END HEADER ========== -->
        <!-- Hero -->
        <div>
            <div>
                <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
                    <!-- Title -->
                    <div class="max-w-3xl text-center mx-auto">
                        <h1 class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
                            A discussion forum <br/> for empowering women
                        </h1>
                    </div>
                    <!-- End Title -->

                    <div class="max-w-3xl text-center mx-auto">
                        <p class="text-lg text-gray-400">Start discussing on pertinent issues affecting women in your society in a safe space</p>
                    </div>

                    <!-- Buttons -->
                    <div class="text-center">
                        <a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-green-600 to-blue-600 shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white py-3 px-6 dark:focus:ring-offset-gray-800" href="#how-it-works">
                            Get Started
                            <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                        </a>
                    </div>
                    <!-- End Buttons -->
                </div>
            </div>
        </div>
        <!-- End Hero -->
    </div>

    <!-- Icon Blocks -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20 mx-auto" id="features">
        <div class="text-center">
            <h2 class="text-4xl font-bold"><span class="bg-green-600 p-2 rounded-lg text-white">Available</span> Spaces</h2>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 py-12">
            <div class="grid flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900">
                <img class="w-full h-auto rounded-t-xl" src="{{ asset('build/images/cards/economic_issues.jpg') }}" alt="Image Description">
                <div class="p-4 md:p-5">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                       Economic Issues
                    </h3>
                    <p class="mt-1 text-gray-500 dark:text-gray-400">
                        Economic empowerment is key at WomenSpace, where we delve into the intricacies of financial independence,
                        entrepreneurship, and workplace dynamics.
                        Discover strategies for financial literacy, explore opportunities for career advancement,
                        and share insights on navigating the economic landscape as women.
                    </p>
                    <a  href="#" class="py-3 px-4 mt-5 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                        Discuss Now
                    </a>
                </div>
            </div>

            <div class="grid flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                <img class="w-full h-auto rounded-t-xl" src="{{ asset('build/images/cards/health_issues.jpg') }}" alt="Image Description">
                <div class="p-4 md:p-5">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        Health Issues
                    </h3>
                    <p class="mt-1 text-gray-500 dark:text-gray-400">
                        At WomenSpace, we prioritize holistic well-being, exploring vital health issues impacting women's lives. From reproductive health to mental wellness, our platform offers a supportive space for sharing experiences, seeking advice, and accessing reliable information, empowering women to make informed health decisions.
                    </p>
                    <a  href="#" class="py-3 px-4 mt-5 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                        Discuss Now
                    </a>
                </div>
            </div>
            <div class="grid flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                <img class="w-full h-auto rounded-t-xl" src="{{ asset('build/images/cards/law_issues.jpg') }}" alt="Image Description">
                <div class="p-4 md:p-5">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        Legal Issues
                    </h3>
                    <p class="mt-1 text-gray-500 dark:text-gray-400">
                        At WomenSpace, we address legal issues impacting women's rights and safety. From advocating for gender equality to navigating family law, our platform offers support for discussing challenges like domestic violence. Through shared experiences and legal expertise, we empower women to access justice and promote equity.

                    </p>
                    <a  href="#" class="py-3 px-4 mt-5 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700">
                        Discuss Now
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
